* {
  box-sizing: border-box; 
  /* fixed form elements to align properly, for width 100% to include padding*/
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222;
}

img {
  max-width: 100%;
}

/* ----------HEADER--------------- */
header {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
  margin-bottom: 50px;
  align-items: center;
  background-color: #777;
}
header a {
  text-decoration: none;
  color: inherit;
}
.logo {
    font-size: 40px;
    font-family: 'Impact';
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow:   
                   -6px  -3px 0 #212121,
                   -7px  -3px 0 #212121,
                   -8px  -3px 0 #212121,
                  /* -6px  0px 0 #212121,
                   6px  0px 0 #212121,
                  -6px -6px 0 #212121,
                   6px -6px 0 #212121,
                  -6px  6px 0 #212121,
                   6px  6px 0 #212121,
                  -6px  18px 0 #212121,
                   0px  18px 0 #212121,
                   6px  18px 0 #212121, */
                   0 19px 1px rgba(0,0,0,.1),
                   0 0 6px rgba(0,0,0,.1),
                   0 6px 3px rgba(0,0,0,.3),
                   0 12px 6px rgba(0,0,0,.2),
                   0 18px 18px rgba(0,0,0,.25),
                   0 24px 24px rgba(0,0,0,.2),
                   0 36px 36px rgba(0,0,0,.15);
}

header nav {
  display: flex;
  gap: 15px;
}
.hello {
  display: inline-flex;
  align-items: center;
  margin-right: 25px;
  font-family: 'Freestyle Script';
  font-size: 35px;
  color: #fff;
}
.header-button {
  background-color: #333;
  display: inline-flex;
  align-items: center;
  color: #fff;
  padding: 10px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}
/* --------- MAIN-------------- */
main {
  padding: 10x;
  max-width: 960px;
  margin: 0 auto;
}

div.post {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 30px;
}
@media screen and (min-width: 700px) {
  div.post {
    grid-template-columns: .9fr 1.1fr;
  }
}
div.post div.text h2 {
  margin: 0;
  font-size: 1.8rem;
}
div.post div.text a {
  text-decoration: none;
  color: inherit;
}
div.post p.info {
  margin: 6px 0;
  color: #888;
  font-size: .7rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}
div.post p.info a.author {
  color: #333;
}
div.post p.summary {
  margin: 10px 0;
  line-height: 1.4rem;
}

/* --------FORM--------------- */
form.login, form.register {
  max-width: 400px;
  margin: 0 auto;
}

input {
  display:block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

button {
  cursor: pointer;
  width: 100%;
  /* display: block; */
  padding: 10px;
  background-color: #555;
  border: 0;
  border-radius: 5px;
  color: #fff;
  margin: 10px 0;
}

form.login h1, form.register h1 {
  text-align: center;
}

/* ---------POST PAGE------------ */
div.post-page div.image {
  max-height: 200px;
  display: flex;
  overflow: hidden;
}
div.post-page div.image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}
div.post-page a {
  color: #333;
  text-decoration: underline;
}
.date-author {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  /* justify-content: space-around; */
  /* gap: 5px; */
  /* align-items: center; */
}
div.post-page time {
  /* display: block; */
  font-size: .8rem;
  color: #aaa;
}
.author {
  font-size: .8rem;
  font-weight: bold;
}
div.post-page div.content p {
  line-height: 1.6rem;
}
div.edit-row {
  display: flex;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  margin-bottom: 20px;
}
div.post-page a.edit-btn {
  background-color: #1ea529;
  display: inline-flex;
  /* align-items: center; */
  /* gap: 5px; */
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
}
div.post-page a.delete-btn {
  background-color: #ce0101;
  display: inline-flex;
  /* align-items: center; */
  /* gap: 5px; */
  color: #fff;
  padding: 5px 10px;
  margin-left: 20px;
  text-decoration: none;
  border-radius: 5px;
}
a svg {
  height: 20px;
}

/* .delete {
  display: flex;
} */

.confirm {
  display: flex;
  /* grid-template-columns: 1fr; */
  gap: 20px;
  margin-bottom: 30px;
  /* background-color: #00ff15; */
  align-items: center;
  justify-content: center;
  /* align-self: center; */
}

.confirm button {
  width: fit-content;
  padding: 10px 30px;
}



